<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145359553120-8287jfolh7ngqnsdsf0glkchc3130a9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145359553120-8287jfolh7ngqnsdsf0glkchc3130a9m</string>
	<key>API_KEY</key>
	<string>AIzaSyB7DDQ3ONKVP3AU16UIlW-_DHCMKZFgfac</string>
	<key>GCM_SENDER_ID</key>
	<string>145359553120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kadiryilmaz.Wordodo</string>
	<key>PROJECT_ID</key>
	<string>wordodo</string>
	<key>STORAGE_BUCKET</key>
	<string>wordodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145359553120:ios:5b144127bb58ebb7c27905</string>
</dict>
</plist>